[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ariadne = "*"
requests = "*"
uvicorn = "*"
watchdog = "*"
asyncio = "*"

[dev-packages]
watchdog = "*"

[requires]
python_version = "3.8"
